/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
.header {
    background-color: #333;
    color: white;
    padding: 15px;
    position: fixed;
    top: 0;
    width: calc(100% - 250px); /* Adjust for sidebar width */
    left: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Ensure header is above other content */
}

.header-icons button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    margin: 0 5px;
    cursor: pointer;
}

.openbtn, .closebtn {
    background-color: #333;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.openbtn:hover, .closebtn:hover {
    background-color: #555;
}

/* Sidebar Styles */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    color: white;
    z-index: 999; /* Ensure sidebar is below header */
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #555;
}

/* Main Content Styles */
#main {
    margin-left: 250px; /* Space for the sidebar */
    padding: 20px;
    padding-top: calc(15px + 75px); /* Increased space for the header */
    transition: margin-left 0.5s;
}

/* Tabs Styles */
.tabcontent {
    display: none;
}

.tablinks {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

.tablinks.active {
    background-color: #555;
}

/* Table Styles */
#newRequestsTable, #staffTable, #clientsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#newRequestsTable th, #newRequestsTable td,
#staffTable th, #staffTable td, 
#clientsTable th, #clientsTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#newRequestsTable th, #staffTable th, #clientsTable th {
    background-color: #f4f4f4;
}

/* Buttons */
button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #0288d1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.logInMenu-container button {
    flex-direction: column;
    width: 350px;
    height: 48px;
    padding: 10px 40px;
    transform: translateX(5%);

}

#client-login-menu{
    background-color: #4642FF;
    text-align: center;
}

#lab-staff-login{
    background-color: #00761A;
    text-align: center;
}

#admin-login{
    background-color: #B60000;
    text-align: center;
}

.clientLogInMenu-container button {
    flex-direction: column;
    width: 350px;
    height: 48px;
    padding: 10px 40px;
    transform: translateX(5%);
}

.clientLogInMenu-container p {
    margin-top: -15px;
    font-size: 13.5px;
    color: #666;
    font-style: italic;
   
    text-align: center;


}

#IclientLogIn-btn{
    background-color: #4642FF;
    text-align: center;
}

#EclientLogIn-btn{
    background-color: #00761A;
    text-align: center;
}






button:hover {
    background-color: #0277bd;
}

/* Utility Classes */
.hidden {
    display: none;
}

/* Error Messages */
#error-message {
    display: none; /* Hide error messages by default */
}




/* Log-In Forms */
form {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0 auto;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #D9D9D9;
    color: #000000;
    border: 0px;
    font-size: 15px;
}

#sign-inbtn  {
    padding: 10px;
    margin: 10px;
    background-color: #0288d1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 130px;
    -ms-transform: translate(5%);
    transform: translateX(75%);
}

#admin-inbtn  {
    padding: 10px;
    margin: 10px;
    background-color: #0288d1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 130px;
    -ms-transform: translate(5%);
    transform: translateX(75%);
}

#lab-inbtn  {
    padding: 10px;
    margin: 10px;
    background-color: #0288d1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 100px;
    -ms-transform: translate(5%);
    transform: translateX(120%);
}

.adm-low-label p{
    -ms-transform: translae(5%);
    transform: translateX(4.8%);
    color: black;
}

.low-label p{
    -ms-transform: translate(5%);
    transform: translateX(4.3%);
    color: black;
}

.lower-label p{
    -ms-transform: translate(5%);
    transform: translateX(0.1%);
    color: black;
    font-size: 11px;
    text-align: center;
    padding-top:10px;
}

.pswrd-low-label p{
    -ms-transform: translate(5%);
    transform: translateX(6.3%);
    color: black;
}

.pswrd-lower-label p{
    -ms-transform: translate(5%);
    transform: translateX(0.1%);
    color: black;
    font-size: 11px;
    text-align: center;
    padding-top:10px;
}

.index-lower-label p{
    -ms-transform: translate(5%);
    transform: translateX(0.1%);
    color: black;
    font-size: 11px;
    text-align: center;
    padding-top:10px;
}

.lab-low-label p{
    -ms-transform: translate(5%);
    transform: translateX(2.12%);
    color: black;
}


#enter {
        margin-top: -15px;
        font-size: 0.9rem;
        color: #000000;
        font-weight: bold;
        text-align: center;
}



#reset-btn  {
    padding: 10px;
    margin: 10px;
    background-color: #0288d1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 160px;
    -ms-transform: translate(5%);
    transform: translateX(55%);
}


/* Client Dashboard Specific Styles */
.client-header {
    padding: 15px;
    background-color: #7D1B1B;
    color: white;
    top: 0;
    position: fixed;
    width: calc(100% - 250px); /* Adjust for sidebar width */
    left: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.client-header .header-icons button {
    margin: 0;
}

.client-sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #7D1B1B;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    color: white;
    z-index: 999;
}

.client-sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.client-sidebar a:hover {
    background-color: #7D1B1B;
}

.client-main {
    margin-left: 250px; /* Space for the sidebar */
    padding: 20px;
    padding-top: calc(15px + 75px); /* Increased space for the header */
    transition: margin-left 0.5s;
}

.bg-image-section {
    flex: 2;
    background-color: #ffffff;
}

.LogInBg-image {
    width: 70%;
    height: 10%;
    object-fit: cover;
    float: left;
}


.logo {
    text-align: center;
}

.logo img {
    width: 150px;
    height:150px;
    margin-top: 40px;
    margin-bottom: -10px;
   
}

.logo h1 {
    margin-top: 1px;
    font-size: 1.5rem;
}

.logo p {
    margin-top: -15px;
    font-size: 0.9rem;
    color: #666;
    font-style: italic;
}


.sign-in p {
    margin-top: -15px;
    font-size: 0.9rem;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

.options p {
    margin-top: -15px;
    font-size: 0.9rem;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

#arrow {
    transform: translateX(59px);
   -ms-transform: translateY(12px);
}



/* Modal styles */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 50%;
    margin: 40px auto;
  }
  
  .modal-content h2 {
    margin-top: 10px;
    margin-left: 20px;
  }

  .modal-content button {
    margin: 0 auto 20px auto;
    display: block;
  }
  
  .modal-content form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
  }

  #closeModal {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #closeModal:hover {
    background-color: #3e8e41;
  }

        /* Optional styles for better visibility */
        .hidden { display: none; }
        .openbtn, .closebtn {
            cursor: pointer;
        }
        .tabcontent {
            display: none;
        }
        .tablinks {
            cursor: pointer;
        }
        .sidebar {
            width: 250px;
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            background-color: #111;
            padding-top: 60px;
        }
        .sidebar a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }
        .header-icons button {
            margin-left: 10px;
        }
        /* Modal styles */
        .modal {
            display: none; /* Hidden by default */
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 70%;
        }
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .image-section {
            position: relative;
            width: 100%;
            height: 100vh; /* Make the image section take up the full viewport height */
            overflow: hidden;
        }
        
/* Registration */
        .register-body {
            background: rgb(255, 255, 255);
            padding-left: 20px;
            padding-right: 20px;
            max-width: 500px; 
            width: 100%;
            height: 100vh;
        }

        .admin-register-body {
            background: rgb(255, 255, 255);
            padding-left: 20px;
            padding-right: 20px;
            max-width: 400px; 
            width: 100%;
            height: 100vh;
        }
        .wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .reg-logo {
            display: block;
            max-width: 150px; 
            margin: 0 auto 20px auto; 
        }

        .register-form {
            padding-top: 60px;
        }

        .lower-reg-form {
            text-align: center;
        }

        .fullname {
            display: flex;
            gap: 10px;
        }

        .form-reg-client {
            width: 100% !important;
        }
        
        .user-icon {
            padding-left: 45px;
            background: url("https://www.transparentpng.com/download/user/gray-user-profile-icon-png-fP8Q1P.png") no-repeat left;
            background-size: 22px;
            background-color: #D9D9D9;
            background-position-x: 10px;
          }

          
        .key-icon {
            padding-left: 45px;
            background: url("https://images.vexels.com/content/131184/preview/key-flat-icon-e94865.png") no-repeat left;
            background-size: 22px;
            background-color: #D9D9D9;
            background-position-x: 10px;
          }

          #helpBtn  {
            border: none;
            color: white;
            padding: 12px 19px;
            font-size: 45px;
            cursor: pointer; 
            color: white;
          }

          #notificationsBtn {
            border: none;
            color: white;
            padding: 12px 19px;
            font-size: 45px;
            cursor: pointer; 
            color: white;
          }

          #settingsBtn {
            border: none;
            color: white;
            padding: 12px 19px;
            font-size: 45px;
            cursor: pointer; 
            color: white;
          }

/* Admin Dashboard Specific Styles */
.admin-header {
    padding: 15px;
    background-color: #A90000;
    color: white;
    top: 0;
    position: fixed;
    width: calc(100% - 250px); /* Adjust for sidebar width */
    left: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.admin-header .header-icons button {
    margin: 0;
}

.admin-sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #A90000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    color: white;
    z-index: 999;
}

.admin-sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.admin-sidebar a:hover {
    background-color: #A90000;
}

.admin-main {
    margin-left: 250px; /* Space for the sidebar */
    padding: 20px;
    padding-top: calc(15px + 75px); /* Increased space for the header */
    transition: margin-left 0.5s;
}


.admin-logo {
    display: flex;
    align-items: center;            /* Center items vertically */
    margin-right: 400px;           /* Adjust if needed */
    height: 50px;                  /* Set a consistent height */
}

.side-logo {
    display: flex;                  /* Use flexbox to arrange items in a row */
    align-items: center;            /* Center logo and text vertically */
}

.side-logo img {
    width: 95px;                    /* Set desired width for the logo */
    object-fit: cover;              /* Maintain aspect ratio */
    border-radius: 50%;             /* Make it circular */
    margin-right: 10px;             /* Space between logo and text */
}

.logo-name {
    margin: 0;                      /* Remove default margin */
}
